{% extends "navbar.html" %}
{% block title %}Home{% endblock title %}
{% block body %}


<!DOCTYPE html>
<html>

<head>
    <title>Employee Late Days</title>
    <!-- Include Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <!-- Include CSRF Token -->

    <style>
       
    </style>
    {% csrf_token %}
</head>

<body>
    <div class="container">
        <h1 class="mt-3">Late Employee</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Last Punch In Time</th>
                    <th>Late Days</th>
                    <th>Consecutive Late</th>
                    <th>Penalty</th> <!-- New column for the "Penalty" button -->
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.EmployeeID }}</td>
                    <td>{{ employee.Name }}</td>
                    <td>{{ employee.Position }}</td>
                    <td>{{ employee.last_punch_in_time }}</td>
                    <td>{{ employee.late_days }}</td>
                    <td>{{ employee.consecutive_late }}</td>
                    <td><button class="btn btn-primary penalty-button"
                            data-employeeid="{{ employee.EmployeeID }}">Penalty</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Include Bootstrap JS and Popper.js for Bootstrap features (optional) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.penalty-button').click(function () {
                var employeeID = $(this).data('employeeid');

                $.ajax({
                    type: 'POST',
                    url: '/apply_penalty/' + employeeID + '/', // Define the correct URL based on your project structure
                    data: { csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val() },
                    success: function (response) {
                        // Handle the response from the server, e.g., show a success message
                        console.log(response);
                        // hiding button of penualty if it is applied
                        $('.penalty-button[data-employeeid=' + employeeID + ']').hide();
                        // setting message to the user
                        $('.penalty-button[data-employeeid=' + employeeID + ']').parent().append('<p>Penalty applied</p>');
                        
                    }
                });
            });
        });
    </script>
</body>

</html>
{% endblock body %}