{% extends "navbar.html" %}
{% block title %}Home{% endblock title %}
{% block body %}
<head>
    <!-- Meta tags and title -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>

    <style>

        #filter{
            background-color: #007bff;
            color: black;
        }

        .filter-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .filter-container label {
            margin-right: 10px;
        }

        .filter-container select {
            padding: 8px;
            border-radius: 5px;
        }


    </style>
</head>

<body>

    <br>
    {% csrf_token %}
    <div class="container">
        <form action="deleteEmployee.html" method="post" oninput="toggleSubmitButton('delete')">
            {% csrf_token %}
            {{ error_message }}

            <label for="delete-employee-id">Employee ID:</label>

            <div style="display: flex;">
                <div class="input-group">
                    <input type="number" id="delete-employee-id" name="employee_id" class="form-control"
                        style="border-radius: 10px;" placeholder="Delete Employee"
                        oninput="toggleSubmitButton('delete')" list="delete-employee-id-datalist">
                    <datalist id="delete-employee-id-datalist"></datalist>
                    <!-- <input type="number" id="delete-employee-id" name="employee_id" class="form-control" style="border-radius: 10px;" placeholder="Delete Employee" oninput="toggleSubmitButton('delete')"> -->
                </div>

                <div>

                    <button type="submit" name="delete" class="btn btn-danger" id="delete-submit-button"
                        style="margin: -5px 10px 10px 30px;" disabled>Delete</button>
                </div>
            </div>
        </form>


        <!-- Filter by -->
        <div class="filter-container">
            <label for="filter">Filter by:</label>
            <select id="filter" onchange="filterTable()">
                <option value="all">All Employees</option>
                <option value="present">Present Employees</option>
                <option value="absent">Absent Employees</option>
            </select>
        </div>

        <div class="table-responsive">
            <table class="table table-responsive" id="employee-list">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Email</th>
                        <th>Is present?</th>
                        <th>Assign Task</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr style="margin: 5px;">
                        {% for detail in employee %}
                        {% if forloop.counter != 7 %} {# Exclude the 7th column (View Employee) #}
                        {% if forloop.counter == 2 %} {# If it's the second column (Name) #}
                        <td><a href="{% url 'view_employee' employee.0 %}">{{ detail }}</a></td>
                        {% else %}
                        <td>{{ detail }}</td>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <td>
                            {% if employee.0 in isPresent %}
                            <p class="text-success"> Present </p>
                            {% else %}
                            <p class="text-danger"> ----- </p>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'assign_task' employee.0 employee.1 %}">Assign Task</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            currunt time: {{ current_time }}
        </div>

    </div>
    </div>



    <!-- jQuery and custom scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Function to enable or disable the submit button based on input value
        function toggleSubmitButton(formId) {
            var employeeIdInput = document.getElementById(formId + '-employee-id');
            var submitButton = document.getElementById(formId + '-submit-button');

            // Check if the employee ID input has a value
            submitButton.disabled = employeeIdInput.value.trim() === '';
            submitButton.title = submitButton.disabled ? "Please Enter Employee ID" : "";
        }

        // Function to update the employee list via AJAX
        function updateEmployeeList() {
            console.log('Updating employee list...');

            $.ajax({
                url: '/get-latest-employee-data/',
                method: 'GET',
                success: function (data) {
                    console.log('Received data:', data);
                    // Update the table with the latest data
                    $('#employee-list tbody').html(data);
                }
            });
        }

        // Function to filter the table based on selection
        function filterTable() {
            var filter = document.getElementById('filter').value;
            var table = document.getElementById('employee-list');
            var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

            for (var i = 0; i < rows.length; i++) {
                var isPresentCell = rows[i].getElementsByTagName('td')[4];
                var showRow = true;

                if ((filter === 'present' && isPresentCell.textContent.trim() !== 'Present') || (filter === 'absent' && isPresentCell.textContent.trim() !== '-----')) {
                    showRow = false;
                }

                rows[i].style.display = showRow ? '' : 'none';
            }
        }

    </script>


    <script>
        // Function to suggest auto-completion options from the table column
        function suggestEmployeeId(inputId, datalistId) {
            var datalist = document.getElementById(datalistId);
            var employeeIdInput = document.getElementById(inputId);
            var table = document.getElementById('employee-list');
            var rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

            // Clear existing options
            datalist.innerHTML = '';

            // Extract employee IDs from the table and add them as options
            for (var i = 0; i < rows.length; i++) {
                var employeeId = rows[i].getElementsByTagName('td')[0].textContent.trim();
                var option = document.createElement('option');
                option.value = employeeId;
                datalist.appendChild(option);
            }
        }

        // Event listener for input changes
        document.addEventListener('input', function (event) {
            if (event.target && event.target.id) {
                // Check if the input field is one of the target fields
                if (event.target.id.includes('-employee-id')) {
                    // Call the function to suggest auto-completion options from the table column
                    suggestEmployeeId(event.target.id, event.target.id + '-datalist');
                }
            }
        });
    </script>



</body>

</html>

{% endblock body %}