{% extends "navbar.html" %}
{% block title %}addEmployee{% endblock title %}
{% block body %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
    <!-- Include Bootstrap CSS from a CDN -->

    <style>
        * {
            color: white;
        }

        .view_table {
            border: solid rgb(85, 85, 185) 2px;
            border-radius: 14px;
        }

        th,
        td {
            background-color: transparent !important;
            color: black;
            text-align: left;
            margin: 10px;
            font-size: 20px;
        }

        .container {
            border-radius: 10px;
        }
    </style>
</head>

<body>

    <div class="container">
        <h1 class="mt-5">Employee Details</h1>
        

        <table class="view_table mt-4">
            <tbody>
                <tr>
                    <th scope="row">Employee ID</th>
                    <td>{{ employee.0 }}</td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ employee.1 }}</td>
                </tr>
                <tr>
                    <th scope="row">Mobile Number</th>
                    <td>{{ employee.2 }}</td>
                </tr>
                <tr>
                    <th scope="row">Email ID</th>
                    <td>{{ employee.3 }}</td>
                </tr>
                <tr>
                    <th scope="row">Education</th>
                    <td>{{ employee.5 }}</td>
                </tr>
                <tr>
                    <th scope="row">Position</th>
                    <td>{{ employee.6 }}</td>
                </tr>
                <tr>
                    <th scope="row">Salary</th>
                    <td>{{ employee.7 }}</td>
                </tr>

                <tr>
                    <th scope="row">Employee Image</th>
                    <td>
                        {% if employee.8 %}
                        <img src="data:image/png;base64,{{ employee.8 }}" alt="Employee Image"
                            style="max-width: 200px; max-height: 200px;">
                        {% else %}
                        No Image Available
                        {% endif %}
                    </td>

                </tr>
            </tbody>

        </table>
        <br>
        <form action="/editEmployee.html" method="post" oninput="toggleSubmitButton('edit')">
            {% csrf_token %}
            {{ error_message }}

            <!-- Add a hidden input field to store the employee ID -->
            <input type="hidden" id="edit-employee-id" name="employee_id" value="{{ employee.0 }}">

            <div style="display: flex;">
                <div>
                        <button type="submit" name="edit" class="btn btn-primary" id="edit-submit-button" >Edit Details</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>


{% endblock body %}