{% extends "user_panel_template/navbar.html" %}
{% block title %}Home{% endblock title %}
{% block body %}

<!DOCTYPE html>
<html>
<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
    </head>
</head>
<body>


    
<div class="container mt-4">

   <h4> Hello, {{ employee_name }} </h4>

    {% if punch_in_count == 0 %}
        <p class="alert alert-info">Status: Please Punch In</p>
        <form method="post" action="{% url 'punch' %}">
            {% csrf_token %}
            <input class="btn btn-success" type="submit" name="punch_in" value="Punch In">
        </form>
    {% elif punch_out_count == 0 %}
        <p class="alert alert-warning">Status: Please Punch Out</p>
        <form method="post" action="{% url 'punch' %}">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" name="punch_out" value="Punch Out">
        </form>
    {% else %}
        <p class="alert alert-success">Have a nice day, your today's work is completed.</p>
    {% endif %}


    <br><br>
    {% if assigned_tasks %}
        <h2>Assigned Tasks:</h2>
        <div class="alert alert-info">
            <strong>Task Header:</strong> {{ assigned_tasks.4 }}<br>
            <strong>Task Description:</strong> {{ assigned_tasks.3 }}<br>
            <strong>Deadline:</strong> {{ assigned_tasks.0 }}<br>
        </div>
    {% endif %}

    <br><br><br><br>

    {% if leave_request_status == "approved" %}
        <p class="alert alert-success">Leave Request: Approved</p>
    {% elif leave_request_status == "declined" %}
        <p class="alert alert-danger">Leave Request: Declined</p>
    {% else %}
        <p class="alert alert-info">Leave Request: Pending</p>
    {% endif %}
</div>

<!-- Add Bootstrap JS and jQuery scripts here if needed -->

</body>
</html>

{% endblock body %}