

<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Add Bootstrap navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/employee_dashboard">StaffScan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/download_attendance">Download Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leave_request">Ask For Leave</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/edit_employee">Edit Detalis</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/show_details">Show My details</a>
                </li>
              
            </ul>
        </div>
    </nav>

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    {% block body %}
    {% endblock body %}
    <!-- Add Bootstrap JS and jQuery scripts here if needed -->
</body>
</html>
